@import '../../styles/__mixins';
@import '../../styles/__variables';


h3 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.chakras__container {
  display: flex;
  flex-direction: column;
  padding: 5rem 4rem;
  font-size: 1.5rem;

  @include tablet {
    padding: 2rem;
  }
}

.chakras__hero {
  display: flex;
  flex-direction: column;
  padding: 4rem;

  @include tablet {
    flex-direction: row;
  }
}

.chakras__sidebar {
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
  background-image: url('../../assets/Backgrounds/chakrabody.webp');
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 8rem;
  padding-bottom: 10rem;

  .chakras__button-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }

  @include tablet {
    width: 50%;
  }

  .chakra__button {
    display: block;
    width: 2rem;
    height: 2rem;
    margin: 1rem;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    color: #fff;
    text-align: center;

    &:hover {
      box-shadow: 0 0 1rem rgba(193, 255, 49, 0.5);
    }
  }
}

.chakras__content {
  width: 100%;
  padding: 2rem;

  @include tablet {
    width: 60%;
  }

  h2 {
    font-size: 2.5rem;
  }

  .chakra__description {
    font-size: 1.2rem;
  }

  .chakra__crystals {
    h3 {
      font-size: 1.5rem;
      margin-bottom: 0.5rem;
    }

    .chakra__crystal {
      margin: 0.5rem 0;
      padding: 0.5rem 1rem;
      border: 2px solid;
      border-radius: 0.5rem;
      font-size: 1.2rem;
      text-align: center;

      &:hover {
        background-color: $space-blue;
        color: $neon-pink;
      }
    }
  }

  .chakras__mudras {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include tablet {
      flex-direction: row;
      justify-content: space-around;
    }

    .chakra__mudras-list {
      display: flex;
      flex-direction: column;

      @include tablet {
        flex-direction: row;
        flex-wrap: wrap;
      }

      .chakra__mudra {
        margin: 1rem;
        text-align: center;

        img {
          width: 10rem;
          height:12rem;
          border-radius: 50%;
          border: 2px solid;
        }

        p {
          margin-top: 0.5rem;
          font-size: 1.5rem;
        }
      }
    }
  }
}
