$space-blue: #101444;
$neon-pink: #ff00ff;
$neon-purple: #8000ff;
$chakra-colors: (
  "root": #ff0000,
  "sacral": #ff7f00,
  "solar-plexus": #ffff00,
  "heart": #00ff00,
  "throat": #0000ff,
  "third-eye": #4b0082,
  "crown": #8b00ff,
);
