@import "../../styles/__mixins";
@import "../../styles/__variables";

.crystals-page {
  display: flex;
  align-items: center;
  padding: 2rem 4rem;
  flex-direction: column;

  @include tablet {
    flex-direction: row;
    align-items: flex-start;
  }

  &__sidebar {
    width: 100%;
    background-color: $space-blue;
    color: white;
    padding: 1.5rem 2.25rem;
    box-shadow: 0 0 1rem rgba($neon-pink, 0.5);

    @include tablet {
      width: 25%;
    }

    h2 {
      font-size: 2rem;
      margin-bottom: 1rem;
    }

    ul {
      list-style: none;
      padding: 0;

      li {
        margin: 0.5rem 0;

        a {
          display: block;
          color: white;
          text-decoration: none;
          padding: 0.5rem 1rem;
          border-radius: 0.5rem;
          font-size: 1.25rem;
          transition: background-color 0.3s;

          &.active {
            background-color: $neon-pink;
            color: $space-blue;
          }

          &:hover {
            background-color: $neon-pink;
            color: $space-blue;
          }
        }
      }
    }
  }

  &__main {
    width: 100%;
    padding: 0rem 2rem;

    @include tablet {
      width: 70%;
    }

    .crystals-page__title {
      font-size: 2.5rem;
      color: $neon-pink;
      margin-bottom: 0;

      @include tablet {
        padding: 0 4rem;

      }
    }

    .crystals-page__content {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 2rem 0rem;
      @include tablet {
        padding: 2rem 4rem;
      }


      &__details {
        p {
          margin-bottom: 1.25rem;
        }
      }

      .chakra-link {
        display: inline-block;
        margin: 0.5rem;
        text-decoration: none;
        padding: 0.5rem 1rem;
        border-radius: 0.5rem;
        transition: background-color 0.3s;
        color: $neon-pink;
        border: 1px solid $neon-pink;
        &:hover {
          background-color: $neon-pink;
          color: $space-blue;
        }
      }
    }
    .crystals-page__image {
      box-shadow: 0 0 1rem rgba($neon-pink, 0.5);
    }

    .crystals-page__intro {
      text-align: center;

      h1 {
        font-size: 2.5rem;
        color: $neon-pink;
      }

      p {
        font-size: 1.2rem;
      }
    }
  }
}
