@import "../../styles/__mixins";
@import "../../styles/__variables";

.navbar {
  background-color: $space-blue;
  color: white;
  padding: 1rem 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  top: 0;
  z-index: 1;
  flex-direction: column;
  @include tablet {
    flex-direction: row;
  }

  .logo--container {
    width:100%;
    display:flex;
    gap: 2rem;
    height: 100;
    justify-content: center;

    @include tablet {
      width:50%;
      justify-content: flex-start;
    }

  }

  .crystalsilver--logo{
    width:25%;
    height:100%;
    align-self: center;
  }

  .logo--span{
    font-size: 1.25rem;
    font-weight: 520;
  }
  .logo {
    font-size: 1.52rem;
    color: $neon-purple;
    text-decoration: none;
    font-weight: 520;
    transition: color 0.1s;
    padding-top: 0.70rem;
    &:hover {
      color: $neon-pink;
    }
  }

  .nav-links {
    display: flex;
    gap: 1rem;
    a {
      text-decoration: none;
      color: $neon-pink;
      font-size: 1.25rem;
      padding: 0.5rem;
      transition: background 0.3s, color 0.3s, border-bottom 0.3s;
      position: relative;
      border-radius: 0.25rem;

      &.active {
        border-bottom: 0.3rem solid $neon-purple;
      }

      &:hover {
        background-color: white;
        color: $neon-purple;
      }
    }
  }
}
