@import "../../styles/__mixins";
@import "../../styles/__variables";

.footer {
  background-color: $space-blue;
  color: white;
  padding: 1rem 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  bottom: 0;
  z-index: 1;
  margin-bottom: 2rem;

  .logo--container {
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
 //   right:0;
    gap: 1rem;
    height: 70%;
  }

  .crystalsilver_logo {
    width: 25%;
    height: 100%;
    align-self: center;
  }

  .logo {
    font-size: 1.55rem;
    color: $neon-purple;
    text-decoration: none;
    font-weight: 520;
    transition: color 0.1s;
    padding-top: 0.70rem;
    
    &:hover {
      color: $neon-pink;
    }
  }

  .footer-links {
    display: flex;
    gap: 1rem;

    a {
      text-decoration: none;
      color: $neon-pink;
      font-size: 1.25rem;
      padding: 0.5rem;
      transition: background 0.3s, color 0.3s, border-bottom 0.3s;
      position: relative;
      border-radius: 0.25rem;

      &.active {
        border-bottom: 0.3rem solid $neon-purple;
      }

      &:hover {
        background-color: white;
        color: $neon-purple;
      }
    }
  }
}
