
@use "./styles/typography" as *;
@import './styles/__variables';
@import './styles/__mixins';

body {
  font-family: 'Avenir', sans-serif;
  background-color: $space-blue;
  color: white;
  margin: 0;
  padding: 0;
  p {
    font-size: 1.25rem;
  }
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
