@import '../../styles/__mixins';
@import '../../styles/__variables';

.zodiac-report {
  background-color: white;
  border-radius: 1rem;
  padding: 2rem;
  box-shadow: 0 0 1rem rgba($neon-pink, 0.5);
  margin-top: 2rem;

  .subtitle {
    font-size: 1.5rem;
    color: $neon-purple;
    margin-bottom: 1rem;
  }

  p {
    color: $neon-purple; 
    margin-bottom: 0.5rem;
  }

  strong {
    color: $neon-purple; 
  }
}
