@import '../../styles/__mixins';
@import '../../styles/__variables';

.home-page {
  .hero {
    @include center-content;
    flex-direction: column;
    background-image: linear-gradient(
      rgba(165, 70, 209, 0.3),
      rgba(165, 70, 209, 0.3)
    ),
    url(../../assets/Backgrounds/background_cosmic.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #fff;
    padding:3rem 2rem;
    text-align: center;
    min-height: 69vh;
    align-self: center;
    margin-bottom: 1.25rem;

    .hero-content {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      padding: 4rem;


      .hero-item {
        background-color: rgba(255, 255, 255, 0.8);
        color: $space-blue;
        padding: 2rem;
        border-radius: 1rem;
        box-shadow: 0 0 1rem rgba($neon-pink, 0.5);

        h2 {
          color: $neon-pink;
          margin-bottom: 1rem;
        }

        p {
          margin-bottom: 1rem;
        }

        a {
          margin-top: 1rem;
          @include button-style($neon-pink, white, $neon-pink);
          text-decoration: none;
        }
      }
    }

    @include tablet {
      .hero-content {
        flex-direction: row;
        justify-content: center;
        gap: 2rem;
      }

      .hero-item {
        flex: 1;
      }
    }
  }
}
